body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: black;
  padding: 20px;
  width: 100%;
  color: white;
  text-align: center;
}
ul {
  list-style: none;
}
ul,
li {
  display: flex;
  justify-content: right;
  margin: 10px;
}
li:hover {
  color: gold;
}
h1 {
  position: absolute;
  top: 50%;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
h5 {
  position: absolute;
  top: 60%;
  left: 5%;
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.btn-secondary {
  position: absolute;
  top: 70%;
  left: 5%;
}
.footer {
  background-color: black;
  height: 100px;
  color: white;
  text-align: center;
  padding: 25px;
}
.icon:hover {
  background-color: gold;
  transition: background-color 0.3s;
}
h6 {
  background-color: azure;
  color: black;
  padding: 30px 20px;
  width: 300px;
  margin: auto;
  text-align: left;
}
.content {
  margin: 130px auto;
  padding: 30px;
}
.container {
  border: 2px solid black;
  width: 610px;
  padding: 10px;
}
.bundle {
  background-color: black;
  padding: 20px;
  width: 50%;
  color: white;
  text-align: center;
}
.text-content {
  margin-top: 200px;
  padding: 20px;
}
.card-content {
  background-color: azure;
  width: 300px;
  height: auto;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 15px;
  border-radius: 5px;
}
.btn-danger {
  position: absolute;
  top: 10px;
  left: 85%;
}
